{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
  .post-body img {
    width: 100%;
  }
</style>

    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8"> 
          <div class="container">
            <div class="post-single">
              <div class="post-thumbnail"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid"></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="category">
                    {% for cat in post.categories.all %}
                    <a href="#">{{ cat }}</a>
                    {% endfor %}
                  </div>
                  <div>
                    <a href="{% url 'post-update' pk=post.pk %}">Update</a>
                    <a href="{% url 'post-delete' pk=post.pk %}">Delete</a>
                  </div>
                </div>
                <h1>{{ post.title }}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{ post.author.profile_picture.url }}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{ post.author.user.username }}</span></div></a>
                  <div class="d-flex align-items-center flex-wrap">       
                    <div class="date"><i class="icon-clock"></i> {{ post.timestamp|timesince }} ago</div>
                    <div class="views"><i class="icon-eye"></i> {{ post.view_count }}</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>{{ post.comment_count }}</div>
                  </div>
                </div>
                <div class="post-body">
                  {{ post.content | safe }}
                </div>
                <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                {% if post.previous_post %}
                <a href="{{ post.previous_post.get_absolute_url }}" class="prev-post text-left d-flex align-items-center">
                    <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                    <div class="text"><strong class="text-primary">Previous Post </strong>
                      <h6>{{ post.previous_post.title }}</h6>
                    </div>
                </a>
                {% endif %}
                {% if post.next_post %}
                <a href="{{ post.next_post.get_absolute_url }}" class="next-post text-right d-flex align-items-center justify-content-end">
                    <div class="text"><strong class="text-primary">Next Post </strong>
                      <h6>{{ post.next_post.title }}</h6>
                    </div>
                    <div class="icon next"><i class="fa fa-angle-right">   </i></div>
                </a>
                {% endif %}
                </div>
                <div class="post-comments">
                  <header>
                    <h3 class="h6">Post Comments<span class="no-of-comments">({{ post.comments.count }})</span></h3>
                  </header>
                  {% for comment in post.get_comments %}
                  <div class="comment">
                    <div class="comment-header d-flex justify-content-between">
                      <div class="user d-flex align-items-center">
                        <div class="image">
                          {% if comment.user.author %}
                          <img src="{{ comment.user.author.profile_picture.url }}" alt="..." class="img-fluid rounded-circle">
                          {% else %}
                          <img src="{% static 'img/user.svg' %}" alt="..." class="img-fluid rounded-circle">
                          {% endif %}
                        </div>
                        <div class="title"><strong>{{ comment.user.username }}</strong><span class="date">{{ comment.timestamp|timesince }} ago</span></div>
                      </div>
                    </div>
                    <div class="comment-body">
                      <p>{{ comment.content }}</p>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                {% if request.user.is_authenticated %}
                <div class="add-comment">
                  <header>
                    <h3 class="h6">Leave a reply</h3>
                  </header>
                  <form method="POST" action="." class="commenting-form">
                    {% csrf_token %}
                    <div class="row">
                      <div class="form-group col-md-12">
                        {{ form }}
                      </div>
                      <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-secondary">Submit Comment</button>
                      </div>
                    </div>
                  </form>
                </div>
                {% else %}
                <a href="{% url 'account_login' %}" class="btn btn-primary">Login to comment</a>
                {% endif %}
              </div>
            </div>
          </div>
        </main>
        {% include 'sidebar.html' with most_recent=most_recent category_count=category_count %}        
      </div>
    </div>
{% endblock content %}